# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# TensorBoard logs
new_runs/
old_runs/
runs.zip
*.tfevents.*

# Large data directories
archive/TB_Chest_Radiography_Database/Normal/
archive/TB_Chest_Radiography_Database/Normal.metadata.xlsx
archive/TB_Chest_Radiography_Database/Tuberculosis/
archive/TB_Chest_Radiography_Database/Tuberculosis.metadata.xlsx

# Other
research_paper/
model_folder/
code/positive_resnet18.py
code/test.py

# System files
.DS_Store
Thumbs.db
